*{
    margin: 0;
    padding: 0;
}
.container-video{
    width: 800px;
    height: 504px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
}
video{
    width: 800px;
    height: 100%;
}
