*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #202120;
    margin: auto;
    padding: 10px;
}
.logo{
    width: 100px;
    height: 100px;
    background-image: url(./assets/face.png);
    margin :auto;
    background-size: cover;
    overflow:hidden;  
}
section{
    background-color: black;
    width: 80vw;
    margin: auto;
    font-family:;
}

.menu{
    text-align: center;
    background-color: gray;
    padding: 10px;
}
.menu p{
    color: white;
    display: inline-block;
    margin: 10px;
}

.Container_1{
    /* background-image: url(./assets/background.jpg);
    background-size: cover;
    overflow: hidden; */
    background-color: red;
}