*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #48C5CE;
    color: white;
    padding: 10px;
    text-align: center;
}
.logotipo{
    max-width: 100px;
}

.container_2{
    height: 500px;
    background-color: red;
}

.container_3{
    width: 60vw;
    height: 100%;
    background-color: blue;
    margin: auto;
}

.container_4{
    width: 100%;
    height: 40px;
    background-color: white;
}
