<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">

body{
    margin: 0;
    padding: 0;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-family: 'Parisienne', cursive;
}